html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#header {
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    background-image: url("../images/questorlogo.png");
}
#content {
    height: 60%;
    background: #cccccc;
    padding: 0;
    margin: 0;
}
#data {
    width: 100%;
    height: 30%;
    background: #aaaaaa;
    padding: 0;
    margin: 0;
}
#headertext {
    padding: 0;
    margin: 0;
}
.inventory {
    border: 1px solid black;
}