/*
    Frame definitions
*/
body {
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
div#header {
    display: none;
    width: 100%;
    text-align: center;
    font-family: headerfont;
    font-size: 2em;
    color: #efac54;
    height: 9%;
    overflow: hidden;
}
div#header span {
    display:inline-block;
    vertical-align:middle;
    text-shadow: 0px -2px 5px #000000;
}
div#content {
    width: 100%;
    height: 78%;
    overflow: hidden;
}
div#footer {
    display: none;
    width: 100%;
    height: 13%;
    overflow: hidden;
}
div#menu {
    display: block;
    width:100%;
    height:100%;
}
div#basic {
    display: none;
    width:100%;
    height:100%;
}
div#values {
    display: none;
    width:100%;
    height: 100%;
    font-family: textfont;
    overflow: scroll;
}
div.attributes {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-spacing: 0 1em;
    margin-bottom: 2em;
    float: left;
    font-size: 0.7em;
    margin-top: 1em;
    vertical-align: top;
    text-align: -webkit-center;
}
div.attribute {
    display: table-row;
}
div.attribute div.attributelabel {
    font-size: 1.4em;
    line-height: 2em;
    color: #461b0b;
    font-weight: bold;
    display:table-cell;
    padding-right: 1em;
    text-align: left;
}
div.attribute div.attributevalue {
    width: 4em;
    height: 2em;
    line-height: 2.5em;
    text-align: center;
    color: #461b0b;
    font-weight: bold;
    font-size: 1.5em;
    background: rgba(244,133,2,0.3);
    font-family: sans-serif;
    display:table-cell;
}
div.attribute div.attributebutton {
    min-width: 1.5em;
    width: 3em;
    height: 2em;
    line-height: 2.5em;
    text-align: center;
    color: #461b0b;
    font-weight: bold;
    font-size: 1.5em;
    background: rgba(144,33,2,0.3);
    font-family: sans-serif;
    display:table-cell;
    cursor: pointer;
}
div.attributestext {
    line-height: 1.1em;
    text-align: center;
    color: #461b0b;
    font-size: 1em;
    padding: 2em 2em 0em 2em;
    margin: 0;
}
p.pointsleft {
    font-size: 3em;
    font-family: sans-serif;
    margin: 0.5em;
}
p.pointslefttext {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
#menu {
    text-align: center;
    height: 100%;
}
#menu img {
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#mm_copyright {
    color: #461b0b;
    font-family: textfont;
    font-size: 0.6em;
    text-align: center;
    margin-top: 1em;
    position: absolute;
    bottom: 1em;
    width: 100%;
}
#mainmenubuttons {
    height: 65%;
    overflow-y: scroll;
}
#mainmenubuttons::-webkit-scrollbar {
    display: none;
}
.mainmenubutton {
    min-width: 60% !important;
}
.mainmenubutton .bf {
    display:table-cell;
    vertical-align:middle;
    line-height: 1em;
    font-size: 1em;
}
#systembuttons {
    position: absolute;
    bottom: 3em;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 2em;
}
#systembuttons img {
    height: 100%;
}
div.fleft {
    height: 100%;
    float: left;
    width: 50%;
    text-align: left;
}
div.fright {
    height: 100%;
    float: right;
    width: 50%;
    text-align: right;
}

div.fleft img {
    margin: 0 !important;
    height: 100%;
}

div.fright img {
    margin: 0 !important;
    height: 100%;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
#loginbutton:active, #achievementbutton:active {
    opacity: 0.5;
}

/*
    Character image swiper
*/

.swiper-container, .swiper-slide {
    margin-top:1%;
    width: 100%;
    height: 50%;
    text-align: center;
}
img.charimage {
    height: 90%;
    max-width: 90%;
}
.arrow-left {
    background: url(../images/arrows.png) no-repeat left top;
    position: absolute;
    left: 1em;
    top: 30%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index: 99;
    cursor: pointer;
}
.arrow-right {
    background: url(../images/arrows.png) no-repeat left bottom;
    position: absolute;
    right: 1em;
    top: 30%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index: 99;
    cursor: pointer;
}
/*
    Character input and flavour
*/
div#nameinput {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
input#name {
    border: 2pt solid #aaaaaa;
    color: #461b0b;
    width: 65%;
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: headerfont;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
div#characterflavour {
    width: 75%;
    height: 25%;
    color: #461b0b;
    font-family: textfont;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    overflow: auto;
    margin-top: 5%;
    padding: 1%;
    cursor: move;
}
div#characterflavour::-webkit-scrollbar {
    display: none;
}

/*
    Buttons
*/
div.button {
    display: table;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    min-width: 40%;
    width: 40%;
    cursor: pointer;
}
div.bl {
    display: table-cell;
    height: 100%;
    width: 10%;
    background: url(../images/button-left.png) no-repeat;
    background-size: 100% 100%;
}
div.br {
    display: table-cell;
    height: 100%;
    width: 10%;
    background: url(../images/button-right.png) no-repeat;
    background-size: 100% 100%;
}
div.bf {
    display: table-cell;
    height: 100%;
    background: url(../images/button-fill.png) repeat-x;
    background-size: 100% 100%;
    text-align: center;
    font-family: headerfont, serif;
    font-size: 1.3em;
    color: #efac54;
    text-shadow: 0px -2px 5px #000000;
    padding-top: 0;
    margin: 0;
    line-height: 3em;
}
div.bf:active {
    color: #ffffff;
}
::-webkit-scrollbar {
    display: none;
}

/*
    Modal message box definitions
*/
div.messagebox {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 199;
}
div.mb_content {
    position: relative;
    width: 100%;
    height: 80%;
    top: 5%;
    background: url(../images/bg-messagebox.png) no-repeat;
    background-size: 100% 100%;
}
div.mb_title {
    height: 8%;
    padding-top: 9%;
    font-weight: bold;
    text-align: center;
    font-family: headerfont, serif;
    font-size: 1.3em;
    color: #efac54;
    text-shadow: 0px -2px 5px #000000;
}
div.mb_boxcontent {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    height: 63%;
    color: #461b0b;
    overflow: scroll;
    line-height: 1.3em;
    font-size: 1em;
    text-align: center;
    font-family: textfont;
}
div.mb_boxcontent::-webkit-scrollbar {
    display: none;
}
div.mb_button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    height: 12%;
    text-align: center;
}
#mb_twobuttons_content {
    height:50%
}

/*
    Darken Overlay
*/
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: #000000;
    opacity: 0.7;
    z-index: 99;
}
