body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
}
#tapcont {
    display: none;
    position: absolute;
    bottom: 2%;
    color: #ffffff;
    font-family: textfont;
    text-shadow: 1px 1px 1px #000;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
}
#skipcont {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 4%;
    color: #ffffff;
    font-family: textfont;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    width: 100%;
    text-align: right;
    cursor: pointer;
}
.frame {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.layer {
    display: block;
    position: absolute;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.text {
    color: #ffffff;
    font-family: textfont;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.25em;
    line-height: 1.3em;
    width: 75%;
    text-align: center;
}
.creditslabel {
    font-size: 70%;
    color: #dddddd;
}
.image90w {
    width: 90%;
    height: auto;
}
.image70w {
    width: 70%;
    height: auto;
    bottom: 50%;
}
.image70 {
    height: 70%;
    width: auto;
}
.image25 {
    height: 25%;
    width: auto;
}
.background {
    width: 100%;
    height: 100%;
}
.zoomLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin: 5%;
    overflow: hidden;
    -webkit-mask-box-image: url(../images/credits-mask.png);
}
.backimage {
    height: 100%;
    width: 100%;
    margin: 0;
}
.backimage-overflow {
    height: 150%;
    width: 150%;
    margin: 0;
}
.fullimage {
    height: 110%;
    margin-left: -5%;
    width: 110%;
    margin-top: 0%;
    align: middle;
}


