html {
  font-size: 2em;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

body {
  overflow-y: hidden;
}

input.ng-invalid {
  border: 1px solid red !important;
}

// basic stuff
@import "fonts";
@import "components/login";
@import "components/register";
@import "components/confirm";
@import "components/lostpassword";
@import "components/legal";
@import "components/frame";

// pages
@import "components/dashboard";
@import "components/projects";
@import "components/preview";
@import "components/media";
@import "components/layout";
@import "components/edit";
@import "components/editGraphical";
@import "components/deploy";
@import "components/beta";

// directives
@import "directives/barebone";
@import "directives/book";
@import "directives/geo";
@import "directives/web";
@import "directives/youtube";
