.directive-youtube {
  height:100%;
  width:100%;

  .smalltext {
    font-size: 7pt;
  }

  #youtubesearch {
    width:70%;
    height:100%;
    float:left;

    .panel-body {
      width:100%;
      height:100%
    }

    .searchbox {
      width: 100%;
      height: 20%;
      .input-url {
        margin-top: 1em;
      }
      .input-searchquery {
        margin-top: 1em;
      }
      .search-or {
        width: 100%;
        text-align: center;
        margin-top: 1em;
      }
    }
    .videolist {
      width: 100%;
      overflow-y: scroll;
      height: 70%;
      overflow-x: hidden;
      #youtubelist {
        height: 100%;
        a {
          height: 20%;
          img {
            height: 100%;
            float: left;
            margin-right: 1em;
          }
        }
      }
    }
  }

  #youtubeconfig {
    width: 29%;
    height: 100%;
    float: right;
    .input-group {
      margin-top: 2em;
    }
  }
}