<div style="height:100%;overflow:hidden" class="col-md-6 deploy">
    <div class="box box-info">
        <div class="box-header"><h3 class="box-title">Build Mobile Apps</h3></div>
        <div class="box-body">
            <p>Build project "{{project.data.name}}" or download a project backup file.</p>
            <table style="width:100%">
                <tr>
                    <td valign="top"><img src="images/html5.png"/></td>
                    <td>
                        <p style="margin:0;padding:0">
                            <a class="btn btn-primary" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Download Project Backup Archive</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top"><img src="images/android.png"/></td>
                    <td>
                        <p style="margin:0;padding:0">
                            <a class="btn btn-primary" href="/api/deployment/android/{{project.data.id}}"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;Build Android App</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header"><h3 class="box-title">Download Build Artifacts</h3></div>
        <div class="box-body artifacts" style="height:89%;overflow-y: scroll">
            <table class="table table-hover table-condensed">
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="20%"><img src="images/android.png"/></td>
                    <td>Some Project Name</td>
                    <td>com.example.app</td>
                    <td>1.0.3 / 42</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/api/deployment/web/{{project.data.id}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog('/api/deployment/android/')"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div style="height:100%;overflow:hidden" class="col-md-6 deploy">
    <div style="height:100%" class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Build Progress</h3>
            <button class="btn btn-primary btn-xs pull-right" style="margin-top:10px;margin-right:10px" ng-click="clearConsole()"><i class="glyphicon glyphicon-remove-circle"></i></button>
        </div>
        <div style="height:95%" class="box-body">
            <pre style="height:100%;font-family:monospace" class="console">
Message 1
Message 2
:help

Welcome to Gradle 2.10.

To run a build, run gradlew

To see a list of available tasks, run gradlew tasks

To see a list of command-line options, run gradlew --help

To see more detail about a task, run gradlew help --task

    BUILD SUCCESSFUL

    Total time: 5.947 secs

    This build could be faster, please consider using the Gradle Daemon: https://docs.gradle.org/2.10/userguide/gradle_daemon.html
    EXITCODE false
            </pre>
        </div>
    </div>
</div>
