<div style="height:100%;overflow:hidden" class="col-md-6 deploy">
    <div class="box box-info">
        <div class="box-header"><h3 class="box-title">Build Mobile Apps</h3></div>
        <div class="box-body">
            <p>Build project "{{project.data.name}}" or download a project backup file.</p>
            <table style="width:100%">
                <tr>
                    <td valign="top"><img src="images/html5.png"/></td>
                    <td>
                        <p style="margin:0;padding:0">
                            <a class="btn btn-primary" ng-click="buildWeb()" ng-disabled="buildId!=null"><i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Create Backup Archive</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top"><img src="images/android.png"/></td>
                    <td>
                        <p style="margin:0;padding:0">
                            <a class="btn btn-primary" ng-click="buildAndroid()" ng-disabled="buildId!=null"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;Build Android App</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box box-info" style="min-height:50%;height:50%">
        <div class="box-header"><h3 class="box-title">Download Build Artifacts</h3></div>
        <div class="box-body artifacts" style="height:87%;overflow-y: scroll">
            <div class="noartifacts" ng-show="!artifacts || artifacts.length==0">
                <span>No artifacts to download yet</span>
            </div>
            <table class="table table-hover table-condensed artifactstable" ng-show="artifacts && artifacts.length>0">
                <tr ng-repeat="artifact in artifacts">
                    <td valign="top" width="7%"><img ng-show="artifact.type==='android'" src="images/android-icon.png"/><img ng-show="artifact.type==='web'" src="images/html5-icon.png"/></td>
                    <td>{{artifact.label}}</td>
                    <td>{{artifact.appId}}</td>
                    <td>{{artifact.versionName}} / {{artifact.versionCode}}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{createWebPath(artifact.artifactWebPath)}}"><i class="glyphicon glyphicon-download"></i></a>
                        <a class="btn btn-primary btn-xs" ng-click="openQRDialog(artifact.artifactWebPath)"><i class="glyphicon glyphicon-qrcode"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div style="height:100%;overflow:hidden" class="col-md-6 deploy">
    <div style="height:100%" class="box box-info">
        <div class="box-header">
            <h3 class="box-title"><i class="activityicon fa fa-refresh"></i>&nbsp;&nbsp;Build Progress</h3>
            <button class="btn btn-primary btn-xs pull-right" style="margin-top:10px;margin-right:10px" ng-click="clearConsole()"><i class="glyphicon glyphicon-remove-circle"></i></button>
        </div>
        <div style="height:95%" class="box-body">
            <pre style="height:100%;font-family:monospace" class="console"></pre>
        </div>
    </div>
</div>
