<div style="height:100%" class="row">
    <div class="graphedit-menu">
        <button ng-drag="true" ng-drag-data="type" class="btn btn-xs" ng-repeat="type in project.data.nodetypes">
            <i class="glyphicon glyphicon-plus" style="top:1px"></i>&nbsp;&nbsp;Drag to create new Chapter
        </button>
    </div>
    <div ng-drop="true" ng-drop-success="onDropComplete($data, $event)">
        <sqgraphicaleditor configure-node="configureNode(nodeId)"
                           configure-script-on-exit="onExitNode(nodeId)"
                           configure-script-on-enter="onEnterNode(nodeId)"
                           delete-node="deleteNode(nodeId)"
                           edit-node="editNode(nodeId)"
                           open-node="openNode(nodeId)"></sqgraphicaleditor>
    </div>

    <div ng-drag-clone="">
        {{clonedData.name}}
    </div>

    <div id="modalContent-graph" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true" class="modal fade" >
        <div class="modal-dialog" style="height: 90%; width: 90%">
            <div class="modal-content" style="height: 100%">
                <div class="modal-body" style="height:100%">
                    <div style="height:100%" class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right edit-header">
                            <li class="active"><a href="#editcontent-graph" data-toggle="tab" class="edittab">Text</a></li>
                            <li><a href="#editconfiguration-graph" data-toggle="tab" class="edittab">Configuration</a></li>
                            <li><a href="#editonenter-graph" data-toggle="tab" class="edittab">Script on Enter</a></li>
                            <li><a href="#editonexit-graph" data-toggle="tab" class="edittab">Script on Leave</a></li>
                            <li class="pull-left header">
                                <div class="input-group" style="display:inline-block">
                                    <input type="text" class="form-control" ng-model="node.title" ng-change="nodeChanged(node)" style="width:35em;font-size: 0.8em">
                                    <button ng-click="deleteNode()" class="btn btn-danger" style="margin-left:0.5em;margin-right:0.5em;margin-bottom:6px"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                </div>
                                <span class="editorsynced" ng-show="editorSyncReady" style="vertical-align: top;display: inline-block">
                                    <i style="color:green;opacity:0.5;font-size:0.7em" class="ion-checkmark-circled"></i>
                                    <span style="color:#999;font-size:0.7em">&nbsp;Changes saved</span>
                                </span>
                                <span style="display:none" class="editorsyncing" ng-show="!editorSyncReady" style="vertical-align: top;display: inline-block">
                                    <i style="color:green;opacity:0.5;font-size:0.7em" class="ion-looping"></i>
                                    <span style="color:#999;font-size:0.7em">&nbsp;Saving..</span>
                                </span>
                            </li>
                        </ul>
                        <div class="tab-content edit-content">
                            <div id="editcontent-graph" class="tab-pane active" style="height:100%">
                                <sqdefaulteditor id="sqdefaulteditor" ng-hide="node.type!='default'"></sqdefaulteditor>
                            </div>
                            <div id="editconfiguration-graph" class="tab-pane" style="height:100%">
                                <div id="stationDataEditor-graph"></div>
                            </div>
                            <div id="editonenter-graph" class="tab-pane" style="height:100%">
                                <div ui-ace="{ onLoad: aceOnEnterLoaded, onChange: aceOnEnterChanged }" ng-model="node.onEnter"></div>
                            </div>
                            <div id="editonexit-graph" class="tab-pane" style="height:100%">
                                <div ui-ace="{ onLoad: aceOnExitLoaded, onChange: aceOnExitChanged }" ng-model="node.onExit"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
