<div style="height:100%" class="row">
    <div style="height:100%" class="col-md-4">
        <div style="height:100%" class="box box-info">
            <div style="height:5%" class="box-header">
                <h3 class="box-title">Chapter List</h3>
                <div style="float:right;margin:1em 1em 0 0">
                    <input id="filterText" type="text" placeholder="Filter" ng-model="filterText"/>
                    <span>&nbsp;&nbsp;</span>
                    <a style="cursor:pointer">
                        <span id="tool_node_refresh"
                              title="Refresh chapters"
                              ng-click="refreshNodeList()"
                              class="glyphicon glyphicon-refresh">
                        </span>
                    </a>
                    <span>&nbsp;&nbsp;</span>
                    <span class="dropdown">
                        <a href="" data-toggle="dropdown" id="addchapterdropdown" class="dropdown-toggle">
                            <span id="tool_node_add" title="Add chapter" class="glyphicon glyphicon-plus"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div style="height:95%" class="box-body">
                <div style="width:100%;overflow-y:scroll;height:100%;overflow-x:hidden">
                    <ul id="nodelist" style="height:95%;white-space:nowrap" class="list-group">
                        <span ng-repeat="thisNode in nodelist | filter:filterText"
                              ng-click="loadNode(thisNode.id)"
                              data-id="{{thisNode.id}}"
                              class="list-group-item {{thisNode | nodeActive:node}}">
                            <span ng-style="{ 'font-weight':'bold', 'color': thisNode.nodeColor}"
                                  class="glyphicon {{thisNode.type | typeIconClass}}">&nbsp;</span>
                            <span editable-text="thisNode.title"
                                  onbeforesave="saveNodeTitle(thisNode, $data)">{{thisNode.title}}</span>
                            <span class="nodeid">&nbsp;({{thisNode.id}})</span>
                            <div ng-click="$event.stopPropagation(); deleteNode(thisNode.id);"
                                 showonhoverparent="showonhoverparent"
                                 class="nodelistdeleteicon">
                                <span class="glyphicon glyphicon-remove-circle">&nbsp;</span>
                            </div>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height:100%" class="col-md-8">
        <div style="height:100%" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right edit-header">
                <li class="active"><a href="#editcontent" data-toggle="tab" class="edittab">Text</a></li>
                <li><a href="#editconfiguration" data-toggle="tab" class="edittab">Configuration</a></li>
                <li><a href="#editonenter" data-toggle="tab" class="edittab">Script on Enter</a></li>
                <li><a href="#editonexit" data-toggle="tab" class="edittab">Script on Leave</a></li>
                <li class="pull-left header">
                    <span>Editor&nbsp;&nbsp;</span>
                    <span class="editorsynced" ng-show="editorSyncReady">
                        <i style="color:green;opacity:0.5;font-size:0.7em" class="ion-checkmark-circled"></i>
                        <span style="color:#999;font-size:0.7em">&nbsp;Changes saved</span>
                    </span>
                    <span style="display:none" class="editorsyncing" ng-show="!editorSyncReady">
                        <i style="color:green;opacity:0.5;font-size:0.7em" class="ion-looping"></i>
                        <span style="color:#999;font-size:0.7em">&nbsp;Saving..</span>
                    </span>
                </li>
            </ul>
            <div class="tab-content edit-content">
                <div id="editcontent" class="tab-pane active" ng-show="contentEditorEnabled">
                    <sqdefaulteditor id="sqdefaulteditor" ng-hide="node.type!='default'"></sqdefaulteditor>
                </div>
                <div id="editconfiguration" class="tab-pane" ng-show="configurationEditorEnabled">
                    <div style="margin-top:0.5em" class="editmetadata">
                        <span>Node Color (for your reference, used only in the editor):&nbsp;&nbsp;</span>
                        <spectrum-colorpicker ng-model="editorNodeColor"
                                              options="{showPaletteOnly: true, showPalette:true, color: 'black', palette: [ ['black', 'white', 'red', 'yellow', 'green', 'blue', 'violet'] ]}">
                            &nbsp;
                        </spectrum-colorpicker>
                    </div>
                    <div id="treemajson" class="editjson"></div>
                </div>
                <div id="editonenter" style="height:100%" class="tab-pane">
                    <div ui-ace="{ onLoad: aceOnEnterLoaded, onChange: aceOnEnterChanged }"
                         ng-model="node.onEnter"></div>
                </div>
                <div id="editonexit" style="height:100%" class="tab-pane">
                    <div ui-ace="{ onLoad: aceOnExitLoaded, onChange: aceOnExitChanged }" ng-model="node.onExit"></div>
                </div>
            </div>
        </div>
    </div>
</div>
