<div class="mediatab">
    <button id="fub" class="btn btn-primary" ngf-select="uploadFiles()" ng-model="files" ngf-multiple="true" ngf-keep="false">
        <i class="glyphicon glyphicon-plus"></i>
        <span>&nbsp;Upload Media Assets</span>
    </button>
</div>
<div id="imageeditor_grid">
    <div class="mediagallery" ng-repeat="item in assets">
        <div ng-style="{'background-image':'url({{item}})'}">
            <span class="medialabel">{{item | regex:'.*\/':''}}</span>
            <span class="mediaicon glyphicon glyphicon-remove-circle" title="Delete asset"
                  ng-click="deleteMedia(item)"></span>
        </div>
    </div>
</div>
