<div style="height:100%" class="row">
    <div style="height:100%" class="col-md-6">
        <div style="height:100%" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><span>Chapters&nbsp;&nbsp;</span></li>
            </ul>
            <div class="tab-content">
                <div id="previewnodes" class="tab-pane active">
                    <ul ui-sortable="sortableOptions" id="previewnodelist" style="height:95%;white-space:nowrap" class="list-group">
                        <span ng-repeat="thisNode in nodelist | filter:filterText"
                              ng-click="previewNode(thisNode.id)"
                              data-id="{{thisNode.id}}"
                              class="list-group-item {{thisNode | nodeActive:node}}">
                            <span ng-style="{ 'font-weight':'bold', 'color': thisNode.nodeColor}"
                                  class="glyphicon {{thisNode.type | typeIconClass}}">&nbsp;</span>
                            <span editable-text="thisNode.title"
                                  onbeforesave="saveNodeTitle(thisNode, $data)">{{thisNode.title}}</span>
                            <span class="nodeid">&nbsp;({{thisNode.id}})</span>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height:100%" class="col-md-6    ">
        <div style="height:100%" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#dataattributes" data-toggle="tab" class="edittab">Attributes</a></li>
            </ul>
            <div id="dataattributescontent" class="tab-content">
                <div id="dataattributes" class="tab-pane active">
                    <form role="form">
                        <div id="dataattributeslist" class="box-body"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
