<div id="modalProject" tabindex="-1" role="dialog" aria-labelledby="modalProject" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3 id="modalProjectLabel">Create Project</h3></div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group"><label for="newProjectName">Project Name</label><input type="text"
                                                                                                   ng-model="newProjectName"
                                                                                                   id="newProjectName"
                                                                                                   placeholder="Give your project a descriptive name"
                                                                                                   class="form-control"/>
                    </div>
                    <div class="form-group"><label for="newProjectDesc">Project Description</label>
                        <textarea
                            ng-model="newProjectDesc" id="newProjectDesc" placeholder="Project description"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group"><label for="newProjectTags">Tags</label><input type="text"
                                                                                           ng-model="newProjectTags"
                                                                                           id="newProjectTags"
                                                                                           placeholder="Tags for your project"
                                                                                           class="form-control"/></div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" aria-hidden="true" id="modalProjectDoOk"
                        ng-click="createNewProject(newProjectName, newProjectDesc, newProjectTags)" class="btn">Ok
                </button>
                <button data-dismiss="modal" aria-hidden="true" id="modalProjectDoCancel" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="modalKey" tabindex="-1" role="dialog" aria-labelledby="modalKey" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3 id="modalKeyLabel">Create Project</h3></div>
            <div class="modal-body">
                <form role="form" name="keyUploadForm">
                    <div class="form-group">
                        <label for="keyAliasInput">Key Alias</label>
                        <input id="keyAliasInput" type="text" ng-model="appkey.alias" placeholder="Key alias.." class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="keyPasswordInput">Key Password</label>
                        <input id="keyPasswordInput" type="password" ng-model="appkey.password" placeholder="Key password.." class="form-control" required/>
                    </div>
                    <button id="keyFileUpload" class="btn btn-primary btn-sm" ngf-select ngf-keep="false" ng-model="appkey.file" required>
                        <span>&nbsp;Select Key File</span>
                    </button>
                    <span ng-attr-class="{{appkey.file&&'fileset'||'filenotset'}}">&nbsp;&nbsp;{{appkey.file.name||'Not set'}}</span>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" aria-hidden="true" ng-disabled="keyUploadForm.$invalid" ng-click="doUploadKey()" class="btn btn-danger" >Upload Key</button>
                <button data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div style="height:30%;margin-bottom:1.5em" class="row">
    <div style="height:100%" class="col-xs-12">
        <div style="height:100%" id="projectsbox" class="box">
            <div style="height:20%" class="box-header"><h3 class="box-title">Your Projects</h3>

                <div style="padding-top:10px" class="box-tools pull-right">
                    <button ng-click="newProject()" id="newProjectButton" class="btn btn-primary"><i
                            class="glyphicon glyphicon-plus"></i><span>&nbsp;New Project</span></button>
                </div>
            </div>
            <div style="height:80%;overflow-y:scroll" class="box-body table-responsive no-padding">
                <table style="width:100%" class="table">
                    <tr>
                        <th style="width:25%">Name</th>
                        <th style="width:22%">ID</th>
                        <th style="width:22%">Keywords</th>
                        <th style="width:21%">Status</th>
                        <th style="width:10%">Actions</th>
                    </tr>
                </table>
                <table style="width:100%" id="projectstable" class="table table-hover">
                    <tr ng-repeat="p in user.data.projectInfos" ng-click="selectRow($event, p.id)"
                        ng-class="{active: p.id==project.data.id}" class="clickable">
                        <td style="width:25%">{{p.name}}</td>
                        <td style="width:22%">{{p.id}}</td>
                        <td style="width:22%">{{p.tags}}</td>
                        <td style="width:21%"><span class="label label-warning">{{p.status}}</span></td>
                        <td style="width:10%"><a ng-click="activateProject(p.id)"><i
                                class="fa fa-fw fa-download"></i></a><span>&nbsp;&nbsp;</span><a
                                ng-click="deleteProject(p.id)"><i class="glyphicon glyphicon-remove-circle"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:65%" class="row">
    <div style="height:100%;overflow:hidden" class="col-md-6">
        <div style="height:100%" class="box">
            <div style="height:90%" class="box-body">
                <div style="height:100%" class="nav-tabs-custom">
                    <ul class="nav nav-tabs setting-tabs">
                        <li class="active"><a href="#projectsettings" data-toggle="tab" class="projectsettings">Basic Info</a></li>
                        <li><a href="#appsettings" data-toggle="tab" class="appsettings">App Settings</a></li>
                        <li><a href="#publishersettings" data-toggle="tab" class="publishersettings">Publisher Settings</a></li>
                        <li><a href="#keysettings" data-toggle="tab" class="keysettings">App Signing Key</a></li>
                    </ul>
                    <div class="tab-content project-content">
                        <div id="projectsettings" class="tab-pane active">
                            <div class="form-group"><label>Name</label><input id="peName" type="text" placeholder="Enter ..."
                                                                              ng-model="selectedProject.name" ng-disabled="!selectedProject"
                                                                              ng-change="settings.name=selectedProject.name"
                                                                              class="form-control"/></div>
                            <div class="form-group"><label>Description</label><textarea id="peDesc" rows="3" placeholder="Enter ..."
                                                                                        ng-model="selectedProject.description"
                                                                                        ng-disabled="!selectedProject"
                                                                                        class="form-control"></textarea></div>
                            <div class="form-group"><label>Keywords</label><input id="peTags" type="text" placeholder="Enter ..."
                                                                                  ng-model="selectedProject.tags"
                                                                                  ng-disabled="!selectedProject" class="form-control"/></div>
                            <div class="form-group">
                                <label>Chapter Sequence</label>
                                <select id="sequenceBehaviour" ng-model="settings.sequence" ng-disabled="!selectedProject" class="form-control">
                                    <option value="graph">Chapters are manually linked</option>
                                    <option value="sequence">Chapters are displayed in order of sequence</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>App Theme</label>
                                <select id="theme" ng-model="settings.theme" ng-disabled="!selectedProject" class="form-control">
                                    <option value="dark">Dark Theme (light text)</option>
                                    <option value="light">Light Theme (dark text)</option>
                                </select>
                            </div>
                        </div>
                        <div id="appsettings" class="tab-pane">
                            <div class="form-group"><label>App Label</label><input id="peAppLabel" type="text" placeholder="Enter ..."
                                                                              ng-model="settings.APP_LABEL" ng-disabled="!selectedProject"
                                                                              class="form-control"/></div>
                            <div class="form-group"><label>Google Services Id</label><input type="text" id="peGoogleServicesId" placeholder="Enter ..."
                                                                                        ng-model="settings.GOOGLE_SERVICES_ID"
                                                                                        ng-disabled="!selectedProject"
                                                                                        class="form-control"></div>
                            <div class="form-group"><label>App Id</label><input id="peAppId" type="text" placeholder="Enter ..."
                                                                                  ng-disabled="!selectedProject" ng-model="settings.APP_ID"
                                                                                  class="form-control"/></div>
                            <div class="form-group"><label>App Version Code</label><input id="peAppVersionCode" type="number" min="0" step="1" placeholder="0"
                                                                                ng-disabled="!selectedProject" ng-model="settings.APP_VERSION_CODE" class="form-control"/></div>
                            <div class="form-group"><label>App Version Name</label><input id="peApVersionName" type="text" placeholder="Enter ..."
                                                                                          ng-model="settings.APP_VERSION_NAME"
                                                                                ng-disabled="!selectedProject" class="form-control"/></div>
                        </div>
                        <div id="publishersettings" class="tab-pane">
                            <div class="form-group"><label>Author</label><input id="peAuthor" type="text" placeholder="Enter ..."
                                                                                   ng-model="settings.author" ng-disabled="!selectedProject"
                                                                                   class="form-control"/></div>
                            <div class="form-group"><label>Publisher</label><input id="pePublisher" type="text" placeholder="Enter ..."
                                                                                ng-model="settings.publisher" ng-disabled="!selectedProject"
                                                                                class="form-control"/></div>
                        </div>
                        <div id="keysettings" class="tab-pane">
                            <div class="keystatusblock keystatusblock-positive" ng-hide="!settings.KEY_ALIAS">
                                <span class="keystatus"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;&nbsp;Key is available</span>&nbsp;&nbsp;
                                <span class="keydownload"><a class="btn btn-default btn-xs" href="/api/settings/key/{{selectedProject.id}}">Download Key</a></span>
                            </div>
                            <div class="keystatusblock keystatusblock-negative" ng-hide="settings.KEY_ALIAS">
                                <span class="keystatus"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Key is not available, please upload or create a key.</span>
                            </div>
                            <div class="form-group">
                                <label>Key Alias</label>
                                <input id="keyAlias" type="text" placeholder="No key alias available" ng-model="settings.KEY_ALIAS" class="disabled form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Key Password</label>
                                <div class="inner-addon left-addon">
                                    <button class="btn btn-default btn-xs" ng-click="showKeyPassword()">Show</button>
                                    <input id="keyPassword" type="text" placeholder="Key password is hidden" ng-model="keyPassword" class="disabled form-control"/>
                                </div>
                            </div>
                            <div class="warning">
                                Please make sure you always keep a backup of your key, key alias and key password at a safe place, even when you created the key here. <em>If you loose your key or any of the noted data, you will not be able to upload app updates to Google Play anymore.</em>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-danger" ng-click="createKey()">Create New Key</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-danger" ng-click="uploadKey()">Upload Key</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:right;height:10%" class="box-footer">
                <button id="peButton" ng-click="saveSelectedProject()" ng-disabled="!selectedProject" class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
    <div style="height:100%;overflow:hidden" class="col-md-6">
        <div style="height:100%" class="box">
            <div style="height:100%" class="box-body">
                <div style="height:100%" class="nav-tabs-custom">
                    <ul class="nav nav-tabs images-tabs">
                        <li class="active"><a href="#iconandcover" data-toggle="tab" class="iconandcover">Icon and Cover Images</a></li>
                        <li><a href="#splashimages" data-toggle="tab" class="splashimages">Splash Images</a></li>
                        <li><a href="#menuimages" data-toggle="tab" class="menuimages">Menu Images</a></li>
                        <li><a href="#sidebarimages" data-toggle="tab" class="sidebarimages">Sidebar and UI Font</a></li>
                        <li><a href="#creditshelpimages" data-toggle="tab" class="creditshelpimages">Help & Credits Images</a></li>
                    </ul>
                    <div class="tab-content project-content">
                        <div id="iconandcover" class="tab-pane active">
                            <div class="projectimages imagestable">
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        Icon
                                    </div>
                                    <div class="imagescell">
                                        Cover
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:70%">
                                    <div class="imagescell">
                                        <img class="projecticon">
                                    </div>
                                    <div class="imagescell">
                                        <img class="projectcover">
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        1024x1024px, PNG
                                    </div>
                                    <div class="imagescell">
                                        840x237px, PNG
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                        <div class="imagescell">
                                            <form name="iconUploadForm">
                                                <button name="file" id="iconupload" class="btn btn-primary btn-xs"
                                                        ng-model="iconFile" ngf-pattern="'*.png'"
                                                        ngf-accept="'*.png'" ngf-dimensions="$width==1024 && $height==1024"
                                                        ngf-select="uploadIcon()">
                                                    <span>&nbsp;Upload Icon</span>
                                                </button>
                                                <div ng-hide="!iconUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                    Your selected file does not have<br>the required resolution!
                                                </div>
                                            </form>
                                        </div>
                                    <div class="imagescell">
                                        <form name="coverUploadForm">
                                            <button name="file" id="coverimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="coverFile" ngf-pattern="'*.png'"
                                                    ngf-accept="'*.png'" ngf-dimensions="$width==840 && $height==237"
                                                    ngf-select="uploadCover()">
                                                <span>&nbsp;Upload Cover Image</span>
                                            </button>
                                        </form>
                                        <div ng-hide="!coverUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                            Your selected file does not have<br>the required resolution!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="splashimages" class="tab-pane">
                            <div class="projectimages imagestable">
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        Static Splash
                                    </div>
                                    <div class="imagescell">
                                        Video Splash (optional)
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:70%">
                                    <div class="imagescell">
                                        <img class="projectsplash">
                                    </div>
                                    <div class="imagescell videocontainer-splash">
                                        <span class="novideo">NO VIDEO</span>
                                        <video controls class="projectsplashvideo">
                                        </video>
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        800x1280px, JPG
                                    </div>
                                    <div class="imagescell">
                                        800x1280px, MP4
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        <form name="splashImageUploadForm">
                                            <button name="file" id="splashimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="splashImageFile" ngf-pattern="'*.jpg'"
                                                    ngf-accept="'*.jpg'" ngf-dimensions="$width==800 && $height==1280"
                                                    ngf-select="uploadSplashImage()">
                                                <span>&nbsp;Upload Splash Image</span>
                                            </button>
                                            <div ng-hide="!splashImageUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                Your selected file does not have<br>the required resolution!
                                            </div>
                                        </form>
                                    </div>
                                    <div class="imagescell">
                                        <form name="splashVideoUploadForm">
                                            <button name="file" id="splashvideoupload" class="btn btn-primary btn-xs"
                                                    ng-model="splashVideoFile" ngf-pattern="'*.mp4'"
                                                    ngf-accept="'*.mp4'"
                                                    ngf-select="uploadSplashVideo()">
                                                <span>&nbsp;Upload Splash Video</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menuimages" class="tab-pane">
                            <div class="projectimages imagestable">
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        Static Menu
                                    </div>
                                    <div class="imagescell">
                                        Video Menu (optional)
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:70%">
                                    <div class="imagescell">
                                        <img class="projectmenu">
                                    </div>
                                    <div class="imagescell videocontainer-menu">
                                        <span class="novideo">NO VIDEO</span>
                                        <video controls class="projectmenuvideo">
                                        </video>
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        800x1280px, JPG
                                    </div>
                                    <div class="imagescell">
                                        800x1280px, MP4
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        <form name="splashImageUploadForm">
                                            <button name="file" id="menuimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="menuImageFile" ngf-pattern="'*.jpg'"
                                                    ngf-accept="'*.jpg'" ngf-dimensions="$width==800 && $height==1280"
                                                    ngf-select="uploadMenuImage()">
                                                <span>&nbsp;Upload Menu Image</span>
                                            </button>
                                            <div ng-hide="!MenuImageUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                Your selected file does not have<br>the required resolution!
                                            </div>
                                        </form>
                                    </div>
                                    <div class="imagescell">
                                        <form name="splashVideoUploadForm">
                                            <button name="file" id="menuvideoupload" class="btn btn-primary btn-xs"
                                                    ng-model="splashMenuFile" ngf-pattern="'*.mp4'"
                                                    ngf-accept="'*.mp4'"
                                                    ngf-select="uploadMenuVideo()">
                                                <span>&nbsp;Upload Menu Video</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sidebarimages" class="tab-pane">
                            <div class="projectimages imagestable">
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        Sidebar Background
                                    </div>
                                    <div class="imagescell">
                                        UI Font
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:70%">
                                    <div class="imagescell">
                                        <img class="projectsidebar" style="max-height: 15%;">
                                    </div>
                                    <div class="imagescell">
                                        <span class="keydownload"><a class="btn btn-default btn-xs" href="/api/uifont/{{selectedProject.id}}">Download Font</a></span>
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        837x1920px, JPG
                                    </div>
                                    <div class="imagescell">
                                        TrueType Font
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        <form name="sidebarImageUploadForm">
                                            <button name="file" id="sidebarimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="sidebarImageFile" ngf-pattern="'*.jpg'"
                                                    ngf-accept="'*.jpg'" ngf-dimensions="$width==837 && $height==1920"
                                                    ngf-select="uploadSidebarImage()">
                                                <span>&nbsp;Upload Sidbar Background</span>
                                            </button>
                                            <div ng-hide="!sidebarImageUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                Your selected file does not have<br>the required resolution!
                                            </div>
                                        </form>
                                    </div>
                                    <div class="imagescell">
                                        <form name="uifontUploadForm">
                                            <button name="file" id="uifontupload" class="btn btn-primary btn-xs"
                                                    ng-model="uifontFile" ngf-pattern="'*.ttf'"
                                                    ngf-accept="'*.ttf'"
                                                    ngf-select="uploadUiFont()">
                                                <span>&nbsp;Upload UI Font</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="creditshelpimages" class="tab-pane">
                            <div class="projectimages imagestable">
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        Help Background
                                    </div>
                                    <div class="imagescell">
                                        Credits Background
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:70%">
                                    <div class="imagescell">
                                        <img class="projecthelp">
                                    </div>
                                    <div class="imagescell">
                                        <img class="projectcredits">
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        800x1280px, JPG
                                    </div>
                                    <div class="imagescell">
                                        800x1280px, JPG
                                    </div>
                                </div>
                                <div class="imagesrow" style="height:10%">
                                    <div class="imagescell">
                                        <form name="helpImageUploadForm">
                                            <button name="file" id="helpimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="helpImageFile" ngf-pattern="'*.jpg'"
                                                    ngf-accept="'*.jpg'" ngf-dimensions="$width==800 && $height==1280"
                                                    ngf-select="uploadHelpImage()">
                                                <span>&nbsp;Upload Menu Image</span>
                                            </button>
                                            <div ng-hide="!helpImageUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                Your selected file does not have<br>the required resolution!
                                            </div>
                                        </form>
                                    </div>
                                    <div class="imagescell">
                                        <form name="creditsImageUploadForm">
                                            <button name="file" id="creditsimageupload" class="btn btn-primary btn-xs"
                                                    ng-model="creditsImageFile" ngf-pattern="'*.jpg'"
                                                    ngf-accept="'*.jpg'" ngf-dimensions="$width==800 && $height==1280"
                                                    ngf-select="uploadCreditsImage()">
                                                <span>&nbsp;Upload Credits Image</span>
                                            </button>
                                            <div ng-hide="!creditsImageUploadForm.file.$error.dimensions" style="color:red;font-weight:bold;">
                                                Your selected file does not have<br>the required resolution!
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>