<!DOCTYPE html>
<html>
 
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/barebone.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/knockout/dist/knockout.js"></script>

    <script src="../js/storyquest-dispatcher.js"></script>
    <script src="../js/storyquest.js"></script>
    <script src="../js/rules.js"></script>

    <script src="../station-js/barebone.js"></script>
    <script src="../api/storyquestapi-barebone.js"></script>

    <script src="../js/global.js"></script>
</head>

<body>
        <div id="header">
            <p id="headertext">Template Headertext</p>
        </div>

        <div id="content">
            Template Content
        </div>

        <div id="data">
            <div class="attributes">
                <div class="attribute">
                    <span class="attributelabel">Attribute 1: </span>
                    <span class="attributevalue" data-bind="text:attribute1"></span>
                </div>
                <div class="attribute">
                    <span class="attributelabel">Attribute 2: </span>
                    <span class="attributevalue" data-bind="text:attribute2"></span>
                </div>
                <div class="attribute">
                    <span class="attributelabel">Attribute 3: </span>
                    <span class="attributevalue" data-bind="text:attribute3"></span>
                </div>
            </div>

            <table class="inventory" data-bind="foreach:items()">
                <tr>
                    <td><span class="bold" data-bind="html:name['de']"></span></td>
                </tr>
            </table>
        </div>
</body>
</html>
