<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/battle.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/knockout/dist/knockout.js"></script>
    <script src="../bower_components/jquery-hammerjs/jquery.hammer-full.min.js"></script>
    <script src="../bower_components/jquery.transit/jquery.transit.js"></script>

    <script src="../js/storyquest.js"></script>
    <script src="../js/storyquest-dispatcher.js"></script>
    <script src="../api/storyquestapi-battle.js"></script>
    <script src="../js/rules.js"></script>
    <script src="../js/questml.js"></script>
    <script src="../js/global.js"></script>
    <script src="../station-js/battle.js"></script>
</head>
<body>

<div class="hit"></div>
<div class="effect"></div>

<div class="lockscreen"></div>

<div class="modal">
    <div class="text">
        <div class="content"></div>
    </div>
    <div class="buttons">
        <div class="buttonrow">
            <div class="buttoncell">
                <div ontouchstart="" class="button button1">OK</div>
                <div ontouchstart="" class="button button2">CANCEL</div>
            </div>
        </div>
    </div>
</div>


<div class="body-portrait">

    <div class="stage">
        <div class="enemyarea">
        </div>
        <div class="heroarea">
        </div>
    </div>

    <div class="messagearea">
        <div class="messagerow">
            <div class="message">
            </div>
        </div>
    </div>

    <div class="menu-list">
        <div class="menutable menutable-list">
        </div>
    </div>
    <div class="menu-main">
        <div class="menutable menutable-main">
            <div class="menurow">
                <div ontouchstart="" class="button interface button-fight"></div>
                <div ontouchstart="" class="button interface button-items"></div>
                <div ontouchstart="" class="button interface button-magic"></div>
            </div>
            <div class="menurow">
                <div ontouchstart="" class="button interface button-log"></div>
                <div ontouchstart="" class="button interface button-buffs"></div>
                <div ontouchstart="" class="button interface button-flee"></div>
            </div>
        </div>
    </div>

</div>

<div class="body-landscape">

    <div class="stage">
        <div class="enemyarea">
            ENEMY
        </div>
        <div class="heroarea">
            HERO
        </div>

    </div>
    <div class="menu">

        <div class="menutable menutable-main">
            <div class="menurow">
                <div class="button button-fight">FIGHT</div>
                <div class="button button-items">ITEMS</div>
                <div class="button button-magic">MAGIC</div>
            </div>
            <div class="menurow">
                <div class="button button-log">LOG</div>
                <div class="button button-buffs">BUFFS</div>
                <div class="button button-flee">FLEE</div>
            </div>
        </div>
        <div class="menutable menutable-list">
            <div class="menurow">
                <div class="listentry button-fight">ICON</div>
                <div class="listentry button-items">LABEL</div>
                <div class="listentry button-magic">EXTRAS</div>
            </div>
            <div class="menurow">
                <div class="listentry button-fight">ICON</div>
                <div class="listentry button-items">LABEL</div>
                <div class="listentry button-magic">EXTRAS</div>
            </div>
        </div>

    </div>

</div>

</body>
</html>