<!DOCTYPE html>
<html class="overthrow-enabled">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/book.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/check.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="../bower_components/knockout/dist/knockout.js"></script>
    <script src="../bower_components/jquery-hammerjs/jquery.hammer-full.min.js"></script>
    <script src="../bower_components/markdown/lib/markdown.js"></script>
    <script src="../bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="../bower_components/overthrow-dist/overthrow.js"></script>

    <script src="../js/storyquest.js"></script>
    <script src="../js/storyquest-dispatcher.js"></script>
    <script src="../js/rules.js"></script>
    <script src="../js/questml.js"></script>
    <script src="../station-js/check.js"></script>
    <script src="../api/storyquestapi-check.js"></script>

    <script src="../js/global.js"></script>
</head>

<body id="body">

<!-- Used to darken the screen if needed -->
<div id="overlay"></div>

<!-- Plain Modal Messagebox -->
<div class="messagebox" id="mb_plain">
    <div class="mb_content">
        <div class="mb_title" id="mb_plain_title"></div>
        <div class="mb_boxcontent overthrow" id="mb_plain_content"></div>
        <div class="mb_button">
            <div class="button">
                <div class="bl"></div>
                <div class="bf" id="mb_plain_button"></div>
                <div class="br"></div>
            </div>
        </div>
    </div>
</div>

<!-- Two Button Messagebox -->
<div class="messagebox" id="mb_twobuttons">
    <div class="mb_content">
        <div class="mb_title" id="mb_twobuttons_title"></div>
        <div class="mb_boxcontent overthrow" id="mb_twobuttons_content"></div>
        <div class="mb_button">
            <div id="buttonwrap">
                <div class="button" style="">
                    <div class="bl"></div>
                    <div class="bf" id="mb_twobuttons_button1"></div>
                    <div class="br"></div>
                </div>
                <div class="button" style="">
                    <div class="bl"></div>
                    <div class="bf" id="mb_twobuttons_button2"></div>
                    <div class="br"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The main frame animation encapsulation -->
<div id="animationcontainer">

    <!-- The top content area -->
    <div id="contentcontainer">

        <!-- The background image -->
        <div id="background">
            <img id="bgimage" src="../images/paperbg-check.jpg">
        </div>

        <!-- The main content -->
        <!-- UNIQUE PROBE.HTML CONTENT START -->
        <div id="header">
            <p id="headertext"><span data-i18n="trial"></span></p>
        </div>

        <div class="check">
            <div class="wheely">
                <div class="top">
                    <div class="probehead"><span class="currentprobe_displayname"></span> <span data-i18n="against"></span> <span class="currentprobe_value"></span></div>
                    <div class="probesubhead"><span data-i18n="youre"></span> <span class="currentprobe_displayname"></span>: <span class="currentprobe_charactervalue"></span></div>
                    <div class="probesubhead"><span data-i18n="minroll_prefix"></span> <span id="minroll"></span> <span data-i18n="minroll_suffix"></span></div>
                </div>
                <div class="probewrapper">
                    <div class="spin-container">
                        <img class="arrow" src="../images/arrow_2.png">
                        <img class="siegel" src="../images/Siegel.png">
                    </div>
                </div>
                <div class="bottom">
                </div>

            </div>
        </div>
        <!-- UNIQUE PROBE.HTML CONTENT END -->
    </div>

    <!-- The bottom slideout container -->
    <div id="slideout">

        <!-- menu bar with touch icons -->
        <div id="so_menu">
            <img class="menubutton" id="button_character" src="../images/navbar1.png" data-src1="../images/navbar1.png" data-src2="../images/navbar1_a.png"/>
            <img class="menubutton" id="button_menu" src="../images/navbar2.png" data-src1="../images/navbar2.png" data-src2="../images/navbar2_a.png"/>
            <img class="menubutton" id="button_inventory" src="../images/navbar3.png" data-src1="../images/navbar3.png" data-src2="../images/navbar3_a.png"/>
        </div>

        <!-- Slideout bar content -->
        <div id="so_content">
            <hr>

            <!-- Slideout tab for character sheet -->
            <div class="slideouttab overthrow" id="content_character">
                <div id="charscroller">
                    <h2 data-bind="text:name"></h2>
                    <img id="characterimage" data-bind="attr:{src: '../images/' + image}"/>
                    <div class="attributes">
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="geschick"></span></div>
                            <div></div>
                            <div class="attributevalue" data-bind="text:ge"></div>
                        </div>
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="konstitution"></span></div>
                            <div></div>
                            <div class="attributevalue" data-bind="text:ko"></div>
                        </div>
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="karma"></span></div>
                            <div></div>
                            <div class="attributevalue" data-bind="text:ka"></div>
                        </div>
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="lebensenergie"></span></div>
                            <div></div>
                            <div class="attributevalue" data-bind="text:le"></div>
                        </div>
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="rations"></span></div>
                            <div class="consumeration disabled" onclick="consumeRation()"><img src="../images/eaticon.png"></div>
                            <div class="attributevalue" data-bind="text:rations"></div>
                        </div>
                        <div class="attribute">
                            <div class="attributelabel"><span data-i18n="credits"></span></div>
                            <div></div>
                            <div class="attributevalue" data-bind="text:credits"></div>
                        </div>
                        <div id="debugnodeid" style="display:table-row;width:100%;margin:0;padding:0;text-align:left;font-family:sans-serif;font-size:0.4em;color:#ecd2af"></div>
                    </div>
                </div>
            </div>

            <!-- Slideout tab for main menu -->
            <div class="slideouttab" id="content_menu">
                <div id="menu_save" class="red"><span data-i18n="save"></span></div>
                <div id="menu_savecont" class="rednogap"><span data-i18n="savecont"></span></div>
                <div id="menu_help" class="yellow"><span data-i18n="help"></span></div>
                <div id="menu_about" class="yellow"><span data-i18n="about"></span></div>
                <div id="menu_music" class="yellow"><span id="musicswitch"></span></div>
                <div id="menu_font" class="yellow"><span data-i18n="font"></span></div>
                <div id="menu_fontlarger" class="yellowsmall"><span data-i18n="fontlarger"></span></div>
                <div id="menu_fontsmaller" class="yellowsmall"><span data-i18n="fontsmaller"></span></div>
            </div>

            <!-- Slideout tab for inventory -->
            <div class="slideouttab" id="content_inventory">
                <div class="inventorysummary_high">
                    <div id="is_wrap">
                        <div id="is_left"></div>
                        <div class="is_middle">
                            <a id="th_items" class="selected" href="#" onclick="selectTab('#th_items', '#t_items')"><span data-i18n="inventory"></span></a>
                            <a id="th_conditions" href="#" onclick="selectTab('#th_conditions', '#t_conditions')"><span data-i18n="conditions"></span></a>
                            <a id="th_follower" href="#" onclick="selectTab('#th_follower', '#t_follower')"><span data-i18n="follower"></span></a>
                        </div>
                        <div id="is_right"></div>
                    </div>
                    <hr>
                </div>
                <div id="tabscontainer">
                    <div id="t_items" class="overthrow">
                        <div id="inventorytable">
                            <table data-bind="foreach:items">
                                <tr data-bind="attr:{'data-id': id}">
                                    <td class="text" data-bind="attr:{'data-id': id}"><span class="bold" data-bind="html:name[lang]"></span><span class="bold stock"></span><br/><span class="normal" data-bind="html:createItemDesc($data) + createWeightDesc($data)"></span><span class="equippedstate normal">&nbsp;</span></td>
                                    <td class="button">
                                        <!-- ko if:(typeof type!='undefined'&&type=='weapon') -->
                                        <a class="ibutton" onclick="equipItem(this)">
                                            <img src="../images/equipicon.png ">
                                        </a>
                                        <a class="ibutton ibuttonfade" onclick="giveWeaponFollower(this)">
                                            <img src="../images/equipicon_follower.png ">
                                        </a>
                                        <!-- /ko -->
                                        <!-- ko if:(typeof type=='undefined'||type!='weapon') -->
                                        <a class="ibutton" onclick="useItem(this)" data-bind="css: { disabled: consumeNotice==null }">
                                            <img src="../images/useicon.png" >
                                        </a>
                                        <!-- /ko -->
                                    </td>
                                    <td class="button"><a class="ibutton" onclick="trashItem(this)"><img src="../images/trashicon.png"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="t_conditions" class="overthrow">
                        <div id="conditionstable">
                            <table data-bind="foreach:buffsAndMods">
                                <tr>
                                    <td class="icon" data-bind="attr:{'data-id':id}"><img class="itemimg" data-bind="attr:{src: '../images/' + icon}"/></td>
                                    <td class="text" data-bind="attr:{'data-id':id}"><span class="bold" data-bind="html:name[lang]"></span><br/><span class="normal" data-bind="html:createModOrBuffDesc($data)"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="t_follower" class="overthrow">
                        <div id="followertable">
                            <div data-bind="foreach:follower">
                                <h2 data-bind="html:name"></h2>
                                <div class="attributes">
                                    <div class="attribute">
                                        <div class="attributelabel"><span data-i18n="geschick"></span></div>
                                        <div></div>
                                        <div class="attributevalue" data-bind="text:ge"></div>
                                    </div>
                                    <div class="attribute">
                                        <div class="attributelabel"><span data-i18n="karma"></span></div>
                                        <div></div>
                                        <div class="attributevalue" data-bind="text:ka"></div>
                                    </div>
                                    <div class="attribute">
                                        <div class="attributelabel"><span data-i18n="lebensenergie"></span></div>
                                        <div></div>
                                        <div class="attributevalue" data-bind="text:le"></div>
                                    </div>
                                </div>
                                <div class="weapon" data-bind="foreach:items">
                                    <div data-bind="attr:{'data-id': id}">
                                        <span data-i18n="equippedWeapon"></span>
                                        <span data-bind="html:name[lang]"></span>
                                        <br>
                                        <a class="ibutton" onclick="giveWeaponModel(this)">
                                            <img src="../images/equipicon_model.png ">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <table data-bind="foreach:follower">
                                <tr data-bind="html:name"></tr>
                                <tr>
					                <td>GE</td>
					                <td>LE</td>
				                	<td>KA</td>
			                	</tr>
				                <tr>
					                <td data-bind="html:Ge"></td>
					                <td data-bind="html:Le"></td>
                                    <td data-bind="html:Ka"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">Waffe</td>
                                </tr>
                                <tr>
                                    <td data-bind="attr:items" data-bind="attr:{'data-id:id'}" data-bind="html:"></td>
                                </tr>
                            </table>
                            -->
                        </div>
                    </div>
                </div>
                <div class="inventorysummary_low">
                    <hr>
                    <div><span data-i18n="totalweight"></span> <span data-bind="text:load"></span> | <span data-i18n="maxload"></span> <span data-bind="text:maxLoad"></span></div>
                    <hr>
                </div>
            </div>
        </div> <!-- slideout content -->
    </div> <!-- slideout -->
</div> <!-- animation container -->

</body>
</html>