<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <link rel="stylesheet" type="text/css" href="../bower_components/idangerous-swiper/dist/idangerous.swiper.css"/>
        <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
        <link rel="stylesheet" type="text/css" href="../station-css/create.css"/>

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="../bower_components/knockout/dist/knockout.js"></script>
        <script src="../bower_components/jquery-hammerjs/jquery.hammer-full.min.js"></script>
        <script src="../bower_components/markdown/lib/markdown.js"></script>
        <script src="../bower_components/jquery.transit/jquery.transit.js"></script>
        <script src="../bower_components/idangerous-swiper/dist/idangerous.swiper.min.js"></script>
        <script src="../bower_components/overthrow-dist/overthrow.js"></script>


        <script src="../js/storyquest.js"></script>
        <script src="../js/storyquest-dispatcher.js"></script>
        <script src="../js/rules.js"></script>
        <script src="../js/questml.js"></script>
        <script src="../station-js/create.js"></script>
        <script src="../api/storyquestapi-create.js"></script>

        <script src="../js/global.js"></script>
    </head>

    <body id="body" style="background: url('../images/bg-create.jpg') no-repeat; background-size: 100% 100%">

        <!-- Used to darken the screen if needed -->
        <div id="overlay"></div>

        <!-- Plain Modal Messagebox -->
        <div class="messagebox" id="mb_plain">
            <div class="mb_content">
                <div class="mb_title" id="mb_plain_title"></div>
                <div class="mb_boxcontent overthrow" id="mb_plain_content"></div>
                <div class="mb_button">
                    <div class="button">
                        <div class="bl"></div>
                        <div class="bf" id="mb_plain_button"></div>
                        <div class="br"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Two Button Messagebox -->
        <div class="messagebox" id="mb_twobuttons">
            <div class="mb_content">
                <div class="mb_title" id="mb_twobuttons_title"></div>
                <div class="mb_boxcontent overthrow" id="mb_twobuttons_content"></div>
                <div class="mb_button">
                    <div id="buttonwrap">
                        <div class="button" style="">
                            <div class="bl"></div>
                            <div class="bf" id="mb_twobuttons_button1"></div>
                            <div class="br"></div>
                        </div>
                        <div class="button" style="">
                            <div class="bl"></div>
                            <div class="bf" id="mb_twobuttons_button2"></div>
                            <div class="br"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="header">
            <span data-i18n="createchar"></span>
        </div>

        <div id="content">

            <div id="menu">
                <img src="../images/logo.png">
                <div id="mainmenubuttons">
                    <div class="button mainmenubutton" id="mm_continue">
                        <div class="bl"></div>
                        <div class="bf"><span data-i18n="continuebutton"></span></div>
                        <div class="br"></div>
                    </div>
                    <div class="button mainmenubutton" id="mm_new">
                        <div class="bl"></div>
                        <div class="bf"><span data-i18n="newgame"></span></div>
                        <div class="br"></div>
                    </div>
                    <div class="button mainmenubutton" id="mm_help">
                        <div class="bl"></div>
                        <div class="bf"><span data-i18n="help"></span></div>
                        <div class="br"></div>
                    </div>
                    <div class="button mainmenubutton" id="mm_tutorial">
                        <div class="bl"></div>
                        <div class="bf"><span data-i18n="tutorial"></span></div>
                        <div class="br"></div>
                    </div>
                    <div class="button mainmenubutton" id="mm_about">
                        <div class="bl"></div>
                        <div class="bf"><span data-i18n="about"></span></div>
                        <div class="br"></div>
                    </div>
                </div>
                <div id="systembuttons">
                    <div class="fleft"><img id="loginbutton" src="../images/playgamesservices.png">&nbsp;<img id="achievementbutton" src="../images/achievements_icon.png">&nbsp;<a target="_blank" href="https://www.facebook.com/storyquest"><img src="../images/fb-icon.png"></a></div>
                    <div class="fright"><img id="musicswitch" src="../images/music_on.png"></div>
                </div>
                <div id="mm_copyright"><span data-i18n="copyright"></span></div>
            </div>

            <div id="basic">
                <a class="arrow-left"></a>
                <a class="arrow-right"></a>
                <div class="swiper-container">
                    <div class="swiper-wrapper" data-bind="foreach:characters">
                        <div class="swiper-slide"><img class="charimage" data-bind="attr:{src: '../images/' + image}"></div>
                    </div>
                </div>
                <div id="nameinput"><input type="text" id="name" placeholder="NAME"></div>
                <div id="characterflavour"></div>
            </div>

            <div id="values">
                <div class="attributestext">
                    <p><span data-i18n="pointshelp"></span></p>
                    <p class="pointsleft" id="pleftval">5</p>
                    <p class="pointslefttext"><span data-i18n="pointsleft"></span></p>
                </div>
                <div class="attributes">
                    <div class="attribute">
                        <div class="attributelabel"><span data-i18n="geschick"></span></div>
                        <div class="attributebutton" data-attribute="ge" data-value="-1">-</div>
                        <div class="attributevalue" id="" data-bind="text:ge"></div>
                        <div class="attributebutton" data-attribute="ge" data-value="+1" id="cala1">+</div>
                    </div>
                    <div class="attribute">
                        <div class="attributelabel"><span data-i18n="konstitution"></span></div>
                        <div class="attributebutton" data-attribute="ko" data-value="-1">-</div>
                        <div class="attributevalue" data-bind="text:ko"></div>
                        <div class="attributebutton" data-attribute="ko" data-value="+1" id="cala2">+</div>
                    </div>
                    <div class="attribute">
                        <div class="attributelabel"><span data-i18n="karma"></span></div>
                        <div class="attributebutton" data-attribute="ka" data-value="-1">-</div>
                        <div class="attributevalue" data-bind="text:ka"></div>
                        <div class="attributebutton"  data-attribute="ka" data-value="+1" id="cala3">+</div>
                    </div>
                    <div class="attribute">
                        <div class="attributelabel"><span data-i18n="lebensenergie"></span></div>
                        <div class="attributebutton" data-attribute="le" data-value="-1">-</div>
                        <div class="attributevalue"><span data-bind="text:le"></span><span style="opacity:0.5">x2</span></div>
                        <div class="attributebutton" data-attribute="le" data-value="+1">+</div>
                    </div>
                </div>
            </div>

        </div>

        <div id="footer">
            <a id="continue">
                <div class="button">
                    <div class="bl"></div>
                    <div class="bf"><span data-i18n="choosechar"></span></div>
                    <div class="br"></div>
                </div>
            </a>
        </div>
    </body>

</html>
