<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/messaging.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="../bower_components/knockout/dist/knockout.js"></script>
    <script src="../bower_components/jquery-hammerjs/jquery.hammer-full.min.js"></script>

    <script src="../js/storyquest.js"></script>
    <script src="../js/storyquest-dispatcher.js"></script>
    <script src="../js/rules.js"></script>
    <script src="../js/parser.js"></script>
    <script src="../station-js/messaging.js"></script>
    <script src="../api/storyquestapi-messaging.js"></script>

    <script src="../js/global.js"></script>
</head>

<body id="body">

    <div id="title">
        <div>SOME GUY</div>
    </div>

    <div id="chatarea">
    </div>

    <div id="inputarea">
        <div id="emoticons">
            <a href="#" id="emoticonYes" class="emoticon">Y</a>
            <a href="#" id="emoticonNo" class="emoticon">N</a>
            <a href="#" id="emoticonLeft" class="emoticon">L</a>
            <a href="#" id="emoticonRight" class="emoticon">R</a>
            <a href="#" id="emoticonSad" class="emoticon">S</a>
            <a href="#" id="emoticonHappy" class="emoticon">H</a>
        </div>
        <div id="textinput">
            <textarea id="textarea"></textarea>
            <a id="sendButton" class="button" href="#"><span>SEND</span></a>
        </div>
    </div>
        
</body>
</html>
