<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="../css/storyquest.css"/>
    <link rel="stylesheet" type="text/css" href="../station-css/youtube.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/knockout/dist/knockout.js"></script>
    <script src="../bower_components/jquery.TubePlayer/jQuery.tubeplayer.min.js"></script>

    <script src="../js/storyquest.js"></script>
    <script src="../js/storyquest-dispatcher.js"></script>
    <script src="../js/rules.js"></script>
    <script src="../station-js/youtube.js"></script>
    <script src="../api/storyquestapi-youtube.js"></script>

    <script src="../js/global.js"></script>
</head>

<body id="body">
    <div id="player"></div>
</body>

</html>

