/*
    Standard definitions.
*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: textfont, serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}
input {
    -webkit-user-select: auto;
    user-select: default;
}

/* Standard Fonts */

@font-face {
    font-family: headerfont;
    src: url('../images/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: textfont;
    src: url('../images/AlegreyaSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: lightfont;
    src: url('../images/AlegreyaSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: regularfont;
    src: url('../images/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: boldfont;
    src: url('../images/AlegreyaSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: thinfont;
    src: url('../images/AlegreyaSans-Thin.ttf') format('truetype');
}

@font-face {
    font-family: thinitalic;
    src: url('../images/AlegreyaSans-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: regularitalic;
    src: url('../images/AlegreyaSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: lightitalic;
    src: url('../images/AlegreyaSans-LightItalic.ttf') format('truetype');
}
