body {
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

div#content::-webkit-scrollbar {
    display: none;
}

div#content {
    -webkit-overflow-scrolling:touch;
    font-family: textfont;
    font-weight: normal;
    font-size: 14pt;
    background-image: url(../images/page.jpg);
    background-repeat: repeat-y;
}

div#content h1 {
    margin: 0;
    padding: 0;
    font-family: headerfont;
    font-size: 36pt;
    font-weight: normal;
    line-height: 52pt;
    text-align: center;
}

div#content h2 {
    margin: 9pt 0 0 0;
    padding: 0;
    font-family: thinfont;
    font-size: 30pt;
    font-weight: normal;
    line-height: 36pt;
    text-align: center;
}

div#content h3 {
    margin: 0;
    padding: 0;
    font-family: headerfont;
    font-size: 20pt;
    font-weight: normal;
    line-height: 32pt;
    text-align: left;
}

div.image.center img {
    width: 100%;
}

div.image.left img {
    width: 30%;
    padding: 4%;
    margin-left: -10%;
    margin-right: 5%;
    float: left;
}

div.image.right img {
    width: 30%;
    padding: 4%;
    margin-right: -10%;
    margin-left: 5%;
    float: right;
}

h2 em {
    font-family: thinitalic;
    font-weight: normal;
    font-style: normal;
}

div#content p {
    text-indent: 1em;
}

p em {
    font-family: lightitalic;
    font-weight: normal;
    font-style: normal;
}

p strong {
    font-family: headerfont;
    font-weight: normal;
    font-style: normal;
    font-size: 24pt;
}

div.box.left {
    width: 50%;
    padding: 4%;
    margin-left: -10%;
    margin-right: 5%;
    float: left;
    background: white;
}

div.box.right {
    width: 50%;
    padding: 4%;
    margin-right: -10%;
    margin-left: 5%;
    float: right;
}

div.box.center {
    width: 92%;
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
}

div.box.textcenter {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: transparent !important;
}

div#content.default {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}

div.choice {
    cursor: pointer;
    display: block;
    width: 100%;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    margin-left: -10%;
    font-family: regularfont;
    border-radius: 7px;
    box-shadow: 0 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1em;
}

div.choice.disabled {
    opacity: 0.4 !important;
}

div.choice.enabled:active {
    opacity: 0.7 !important;
}

div.choice i {
    vertical-align: middle;
}

div.switch {
    cursor: pointer;
    display: block;
    width: 100%;
    background-image: linear-gradient(to bottom, #a3db80, #07b912);
    color: white;
    margin-left: -10%;
    font-family: regularfont;
    border-radius: 7px;
    box-shadow: 0 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

div.switch.disabled {
    opacity: 0.4 !important;
}

div.switch.enabled:active {
    opacity: 0.7 !important;
}

div.switch i {
    vertical-align: middle;
}

span.choice {
    font-weight: bold;
    cursor: pointer;
}

button.button {
    width: 30%;
    height: 2em;
    display: block;
    background-image: linear-gradient(rgb(108, 88, 57), rgb(56, 44, 18));
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: regularfont;
    font-size: 1em;
    border-radius: 7px;
    box-shadow: 0 1px 3px #666666;
    padding: 5px;
    text-decoration: none;
    margin-top: 0.5em;
}

/* Alternate Style: fullwidth */

div#content.fullwidth {
    width: 90%;
    margin: 0;
    padding: 5%;
}

div#content.fullwidth div.box.left {
    width: 50%;
    padding: 4%;
    margin-left: -3%;
    margin-right: 5%;
    float: left;
}

div#content.fullwidth div.box.right {
    width: 50%;
    padding: 4%;
    margin-right: -3%;
    margin-left: 5%;
    float: right;
}

div#content.fullwidth div.image.left img {
    width: 50%;
    padding: 4%;
    margin-left: -3%;
    margin-right: 5%;
    float: left;
}

div#content.fullwidth div.image.right img {
    width: 50%;
    padding: 4%;
    margin-right: -3%;
    margin-left: 5%;
    float: right;
}

div#content.fullwidth div.choice {
    display: block;
    width: 90%;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: regularfont;
    border-radius: 7px;
    box-shadow: 0 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

div#content.fullwidth div.switch {
    display: block;
    width: 90%;
    background-image: linear-gradient(to bottom, #a3db80, #07b912);
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: regularfont;
    border-radius: 7px;
    box-shadow: 0 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
