.betaurlcontainer {
    text-align: center;
    margin-bottom: 0.5em;
}

.betatesturl {
    font-size: 1.3em;
    font-weight: bold;
}

.beta-timeline {
    overflow-y: scroll;
    height: 96%;
}

.betaurl {
    margin-bottom: 0.8em;
}

.sharebuttons {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

.fb-share-button {
    vertical-align: top;
    margin-left: 1em;
}