a.list-group-item:hover {
    cursor:pointer;
}

#frameedithtml, #frameeditcss, #frameeditjs, #frameeditglobaljs {
    height: 100%;
}


#frametypelist {

    .glyphicon {
        top: 2px;
    }

    .framedescription {
        font-size: 80%;
        vertical-align: top;
    }
}

.layout-header {
    height: 5%;
}

.layout-content {
    height: 95%;
}

.ace_editor {
    height: 96%;
}