textarea {
    resize: vertical;
}
a, tr.clickable {
    cursor:pointer;
}
.iconimage {
    height: 80%;
    margin-top:1em;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center
}