textarea {
    resize: vertical;
}
a, tr.clickable {
    cursor:pointer;
}
.projectimages {
    width: 100%;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
}

.imagescell {
    display:table-cell;
    text-align: center;
    font-weight: bold;
    height: 100%;
    width: 50%;
    img {
        display: inline-block;
        max-height: 25%;
    }
}

.projectcover {
    max-height: 40% !important;
}

.projecticon {
    width: 50%;
}

.imagesrow {
    display:table-row;
}

.imagestable {
    display:table;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

video {
    position: fixed;
    width: 1px;
    height: 1px;
}

.keystatusblock {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.keystatusblock-positive {
    i {
        top: 3px;
        color: green;
    }
}

.keystatusblock-negative {
    i {
        top: 3px;
        color: red;
    }
}

.inner-addon {
    position: relative;
}

.inner-addon .btn {
    position: absolute;
    right: 10px;
    top: 6px;
}

.warning {
    margin-bottom: 1em;
    color: grey;
}

#modalKey {
    .fileset {
        color: black;
        font-weight: bold;
    }
    .filenotset {
        color: grey;
    }
}

#keyPassword, #keyAlias {
    color: black !important;
}